<h1>願いごと</h1>

<% if @wishes.any? %>
<ul>
  <% @wishes.each do |wish| %>
    <%= render "wish", wish: wish  %>
  <% end %>
</ul>
<% else %>
  <p>願いごとはありません</p>
<% end %>

<%= link_to 'New Wish', new_wish_path %>
